* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
    overflow: auto;
}

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    margin-right: 15px;
    padding-left: 30px;
    padding-right: 30px;
}


.shadow {
    text-shadow: 2px 2px 4px #800000;
}

a:hover, a:focus {
    font-style: italic;
}


footer {
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
}


main {
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
}

main h1 {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    border: double 4px #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

main h2 {
    font-size: 140%;
}

main h3 {
    font-size: 120%;
    clear: both;
}

main ul {
    list-style-type: square;
}

blockquote {
    font-style: italic;
}

@media (max-width: 600px) {
    header img {
        float: none;
        margin: 0 auto 10px;
        display: block;
    }
    header h2, header h3 {
        text-indent: 0;
        text-align: center;
    }
}